# https://editorconfig.org/
# https://www.jetbrains.com/help/resharper/EditorConfig_Index.html

# Severities:
; error, warning, suggestion, silent, none, default

# This is the top-most Editor editorconfig
root = true

# All file types
[*]
## UTF-8 please
charset = utf-8
## Use Windows-style newlines
end_of_line = crlf
## End with a newline (easier pasting)
insert_final_newline = true
## Clean up whitespace
trim_trailing_whitespace = true
## Indent = 4 spaces (fight me)
indent_size = 4
indent_style = space


# Generated code
[*.g.cs]
generated_code = true


# .NET Files
[*.{cs,vb}]
#dotnet_sort_system_directives_first = true
#dotnet_separate_import_directive_groups = false


# C# Files
[*.cs]

## Formatting Options
### https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options
### IDE0055

### New-line Options
#csharp_new_line_before_open_brace = all
#csharp_new_line_before_else = true
#csharp_new_line_before_catch = true
#csharp_new_line_before_finally = true
#csharp_new_line_before_members_in_object_initializers = true
#csharp_new_line_before_members_in_anonymous_types = true
#csharp_new_line_between_query_expression_clauses = true

### Indentation options
#csharp_indent_case_contents = true
#csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
#csharp_indent_block_contents = true
#csharp_indent_braces = false
csharp_indent_case_contents_when_block = false
csharp_indent_preprocessor_if = no_change
csharp_indent_preprocessor_region = no_change

### Spacing options
#csharp_space_after_cast = false
#csharp_space_after_keywords_in_control_flow_statements = true
#csharp_space_between_parentheses = false
#csharp_space_before_colon_in_inheritance_clause = true
#csharp_space_after_colon_in_inheritance_clause = true
#csharp_space_around_binary_operators = before_and_after
#csharp_space_between_method_declaration_parameter_list_parentheses = false
#csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
#csharp_space_between_method_declaration_name_and_open_parenthesis = false
#csharp_space_between_method_call_parameter_list_parentheses = false
#csharp_space_between_method_call_empty_parameter_list_parentheses = false
#csharp_space_between_method_call_name_and_opening_parenthesis = false
#csharp_space_after_comma = true
#csharp_space_before_comma = false
#csharp_space_after_dot = false
#csharp_space_before_dot = false
#csharp_space_after_semicolon_in_for_statement = true
#csharp_space_before_semicolon_in_for_statement = false
#csharp_space_around_declaration_statements = false
#csharp_space_before_open_square_brackets = false
#csharp_space_between_empty_square_brackets = false
#csharp_space_between_square_brackets = false

### Wrap options
csharp_preserve_single_line_statements = false
#csharp_preserve_single_line_blocks = true

## Code-style naming rules
; https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules
dotnet_diagnostic.IDE1006.severity = error

### Naming styles
dotnet_naming_style.pascal_casing.capitalization = pascal_case

dotnet_naming_style.async_pascal_casing.capitalization = pascal_case
dotnet_naming_style.async_pascal_casing.required_suffix = Async

dotnet_naming_style.camel_casing.capitalization = camel_case

dotnet_naming_style.underscore_camel_casing.capitalization = camel_case
dotnet_naming_style.underscore_camel_casing.required_prefix = _


dotnet_naming_style.upper_casing.capitalization = all_upper
dotnet_naming_style.upper_casing.word_separator = _

dotnet_naming_style.lower_casing.capitalization = all_lower

dotnet_naming_style.lower_snake_casing.capitalization = all_lower
dotnet_naming_style.lower_snake_casing.word_separator = _

dotnet_naming_style.lower_kebab_casing.capitalization = all_lower
dotnet_naming_style.lower_kebab_casing.word_separator = -

### Symbol groups

; constants
dotnet_naming_symbols.constants.applicable_kinds = *
dotnet_naming_symbols.constants.applicable_accessibilities = *
dotnet_naming_symbols.constants.required_modifiers = const

; private_fields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

; non_private_fields
dotnet_naming_symbols.non_private_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_fields.applicable_accessibilities = public, internal, protected, protected_internal, private_protected

; locals
dotnet_naming_symbols.locals.applicable_kinds = local, local_function
dotnet_naming_symbols.locals.applicable_accessibilities = local

; generic_types
dotnet_naming_symbols.generic_types.applicable_kinds = type_parameter
dotnet_naming_symbols.generic_types.applicable_accessibilities = *

; asyncs
dotnet_naming_symbols.asyncs.applicable_kinds = method, delegate, local_function
dotnet_naming_symbols.asyncs.applicable_accessibilities = *
dotnet_naming_symbols.asyncs.required_modifiers = async

; parameters
dotnet_naming_symbols.parameters.applicable_kinds = parameter
dotnet_naming_symbols.parameters.applicable_accessibilities = *

; other_members
dotnet_naming_symbols.other_members.applicable_kinds = namespace, class, struct, interface, enum, property, method, event, delegate
dotnet_naming_symbols.other_members.applicable_accessibilities = public, internal, protected, private, protected_internal, private_protected


### Naming rules

dotnet_naming_rule.constants_must_be_upper.symbols = constants
dotnet_naming_rule.constants_must_be_upper.style = upper_casing
dotnet_naming_rule.constants_must_be_upper.severity = error

dotnet_naming_rule.private_fields_must_be_underscore_camel.symbols = private_fields
dotnet_naming_rule.private_fields_must_be_underscore_camel.style = underscore_camel_casing
dotnet_naming_rule.private_fields_must_be_underscore_camel.severity = error

dotnet_naming_rule.non_private_fields_must_be_pascal.symbols = non_private_fields
dotnet_naming_rule.non_private_fields_must_be_pascal.style = pascal_casing
dotnet_naming_rule.non_private_fields_must_be_pascal.severity = error

dotnet_naming_rule.locals_must_be_camel.symbols = locals
dotnet_naming_rule.locals_must_be_camel.style = camel_casing
dotnet_naming_rule.locals_must_be_camel.severity = error

dotnet_naming_rule.generics_must_be.symbols = locals
dotnet_naming_rule.locals_must_be_camel.style = camel_casing
dotnet_naming_rule.locals_must_be_camel.severity = error

dotnet_naming_rule.asyncs_must_be_pascal_async.symbols = asyncs
dotnet_naming_rule.asyncs_must_be_pascal_async.style = async_pascal_casing
dotnet_naming_rule.asyncs_must_be_pascal_async.severity = error

dotnet_naming_rule.parameters_must_be_camel.symbols = parameters
dotnet_naming_rule.parameters_must_be_camel.style = camel_casing
dotnet_naming_rule.parameters_must_be_camel.severity = error

dotnet_naming_rule.other_members_must_be_pascal.symbols = other_members
dotnet_naming_rule.other_members_must_be_pascal.style = pascal_casing
dotnet_naming_rule.other_members_must_be_pascal.severity = error


## Code analysis

### IDE

; IDE0004
dotnet_diagnostic.IDE0004.severity = suggestion

; IDE0007 + IDE0008
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true
dotnet_diagnostic.IDE0007.severity = suggestion
dotnet_diagnostic.IDE0008.severity = suggestion

; IDE0011
csharp_prefer_braces = when_multiline
dotnet_diagnostic.IDE0011.severity = suggestion

; IDE0022
csharp_style_expression_bodied_methods = when_on_single_line
dotnet_diagnostic.IDE0022.severity = suggestion
; IDE0023 + IDE0024
csharp_style_expression_bodied_operators = when_on_single_line
dotnet_diagnostic.IDE0023.severity = suggestion
dotnet_diagnostic.IDE0024.severity = suggestion

; IDE0029 + IDE0030 + IDE0270
dotnet_style_coalesce_expression = true;
dotnet_diagnostic.IDE0270.severity = none

; IDE0034
csharp_prefer_simple_default_expression = true
dotnet_diagnostic.IDE0034.severity = none

; IDE0036
csharp_preferred_modifier_order = private, protected, internal, public, file, new, static, extern, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async
dotnet_diagnostic.IDE0036.severity = error

; IDE0045
dotnet_style_prefer_conditional_expression_over_assignment = false
dotnet_diagnostic.IDE0045.severity = warning

; IDE0046
dotnet_style_prefer_conditional_expression_over_return = false
dotnet_diagnostic.IDE0046.severity = suggestion

; IDE0047 + IDE0048
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = always_for_clarity
dotnet_diagnostic.IDE0047.severity = error
dotnet_diagnostic.IDE0048.severity = error

; IDE0090
csharp_style_implicit_object_creation_when_type_is_apparent = true
dotnet_diagnostic.IDE0090.severity = none

; IDE0160 + IDE0161
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0161.severity = error



### CA

; CA1000 - I understand
dotnet_diagnostic.CA1000.severity = none

; CA1034 - Why not?
dotnet_diagnostic.CA1034.severity = none

; CA1062 - Respect the nullability attributes
dotnet_diagnostic.CA1062.severity = none

; CA1715 - I don't always want to prefix my generic type parameter with T
dotnet_diagnostic.CA1715.severity = none

; CA1810 - reads easier in the constructor
dotnet_diagnostic.CA1810.severity = none

; CA2208 - does not work with new extension block syntax
dotnet_diagnostic.CA2208.severity = none

; CA2225 - I've never seen anywhere else with this
dotnet_diagnostic.CA2225.severity = none












