# Auto detect text files and perform LF normalization
* text=auto

# csharp
*.cs     text diff=csharp eol=crlf
*.sln    text merge=union eol=crlf
*.slnx   text merge=union eol=crlf
*.csproj text merge=union eol=crlf