# All logs
[Ll]og/
[Ll]ogs/

# MSBuild Output
[Bb]in/
[Oo]bj/

# Source Generated
.GeneratedFiles/

# JetBrains Rider
.idea/
*.DotSettings.user

# Visual Studio
.vs/

# Zed
.zed/

# Obsidian
.obsidian/

# NuGet
packages/